{% extends "base.html" %}

{% block body %}
<hr>

<div class="container container-center form-spacing">

    {% if form.errors %}
    <p>The username and/or password was incorrect. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}

    <p>You are currently logged in.</p>

    {% endif %}
    {% endif %}

    <form class="form-center" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>

            <tr>
                    <input class="form-control form-spacing" type="text" name="username" placeholder="Username">
            </tr>

            <tr>
                    <input class="form-control form-spacing" type="password" name="password" placeholder="Password">
            </tr>
        </table>
            <button class="button-login button-yin form-spacing form-center" type="submit"> LOG IN </button>
            <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
</div>
{% endblock %}