{% extends "base.html" %}

{% block body %}
<hr>

<div class="container container-center form-spacing">
  <p>Enter your email below, and you'll get instructions for resetting your password. </p>
  <form class="form-center" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
    <input class="form-control form-spacing" required type="email" name="email" placeholder="Email">
    <button class="button-login button-yin form-spacing form-center" type="submit"> SEND INSTRUCTIONS </button>
    </form>
</div>
{% endblock %}