<h1>{{ shelf.shelf_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% for movie in shelf.shelf_list.all %}
    <label for="movie{{ forloop.counter }}">{{ movie.movie_text }}</label><br>
{% endfor %}
<form action="{% url 'collection:add_film' shelf.id %}" method="post">
{% csrf_token %}
<input type="text" name = "title" value = "Title">
<input type="text" name = "genre" value = "Genre">
<input type="number" maxlength = "4" name = "year" value = "2018">
<input type="text" name = "summary" value = "Enter a summary">
<input type="submit" value="Add Film">
</form>   
