{% extends 'base.html' %}

{% block body %}
<div class="container color-navy">
    <div class="title">
        <p> {{ shelf.shelf_name }} </p>
    </div>
    <table class="table body-font color-navy">
        <thead>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
        </thead>
        <tbody>
            {% for movie in shelf.movie_set.all %}
            <tr>
                <td for="movie{{ forloop.counter }}">{{ movie.movie_name }}</td>
                <td for="movie{{ forloop.counter }}">{{ movie.movie_genre }}</td>
                <td for="movie{{ forloop.counter }}">{{ movie.release_year }}</td>
            </tr>
            <tr class="summary">
                <td colspan=3>
                    <div class="hiddenSummary" for="movie{{ forloop.counter}}">
                         <span class="summary-content">{{ movie.movie_summary }}
                         </span>
                        <a class="button-yin" href="{% url 'collection:update' shelf.id movie.id %}"> EDIT </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="row" action="{% url 'collection:add_film' shelf.id %}" method="post">
        {% csrf_token %}
        <div class="col-sm-5 form-group">
            <input class="form-control form-spacing" type="text" name="title" placeholder="Title">
            <input class="form-control form-spacing" type="text" name="genre" placeholder="Genre">
            <input data-placeholder="" data-mask="9999" class="form-control form-spacing" type="text" min="0000" max="2050" name="year"
                placeholder="Year">
        </div>
        <div class="col-sm-5 form-group">
            <textarea rows="4" class="form-control form-spacing" type="text" name="summary" placeholder="Enter a summary"></textarea>
        </div>
        <div class="col-sm-2 form-group">
            <button class="button-yin form-spacing" type="submit"> ADD FILM </button>
            <button class="button-yang form-spacing" type="reset"> CLEAR </button>
            <a class="button-yang form-spacing" href="{% url 'collection:index' %}">BACK TO INDEX</a>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('.table tr').click(function () {
            var s = $(this).next('.summary');
            s = s.children().children('.hiddenSummary');
            s.slideToggle();
        });
    });
</script>
{% endblock %}
