{% extends 'base.html' %}

{% block body %}
<div class="container color-navy">
    <div class="title">
        <p> {{user.get_username.upper}}'S FILM COLLECTION</p>
    </div>
    <div class="shelf_list">
        {% if user.shelf_set.count > 0 %}
        <table class="table body-font color-navy">
            <thead>
                <th>Shelf Name</th>
                <th>Number of Movies</th>
            </thead>
            <tbody>
                {% for shelf in user.shelf_set.all %}
                <tr href="{% url 'collection:detail' shelf.id %}">
                    <td>{{ shelf.shelf_name }}</td>
                    <td>{{ shelf.shelf_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You haven't made a shelf yet.</p>
        {% endif %}
        <form class="row" action="{% url 'collection:add_shelf' user.id %}" method="post">
            {% csrf_token %}
            <div class="col-sm-5 form-group">
                <input class="form-control form-spacing" type="text" name="name" placeholder="Shelf Name">
            </div>
            <div class="col-sm-2 form-group">
                <button class="button-yin form-spacing" type="submit"> ADD SHELF </button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.table tr').click(function () {
            var link = $(this).attr('href');
            if (link) {
                location.href = link;
            }
        });
    });
</script>
{% endblock %}
