{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container color-white">
    <div class="title">
        <p>FILM COLLECTION</p>
    </div>
    <div class="shelf_list">
        {% if shelf_list %}
        <table class="table body-font color-white">
            <thead>
                <th>Shelf Name</th>
                <th>Number of Movies</th>
            </thead>
            <tbody>
                {% for shelf in shelf_list %}
                <tr href="{% url 'collection:detail' shelf.id %}">
                    <td>{{ shelf.shelf_name }}</td>
                    <td>{{ shelf.shelf_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No collections are available.</p>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.table tr').click(function () {
            var link = $(this).attr('href');
            console.log($(this).attr('href'));
            if (link) {
                location.href = link;
            }
        });
    });
</script>
{% endblock %}
