.color-white{
    color:whitesmoke;
}

.color-navy{
    color:#000123;
}
.body-font{
    font-family: 'Lato';
}
.header-font{
    font-family: 'Montserrat';
    font-weight: 450;
}

/*Table Stuff*/

.table tr:not(.summary) td{
    border:none !important;
}
.table tbody tr:not(.summary):hover{
    cursor: pointer;
    background-color:whitesmoke !important;
    color: #000123;
    transition: ease-in-out .3s;
}

.table tbody tr{
    background-color: #000123;
    color:whitesmoke;
    transition: ease-in-out .3s;
}

.table .summary , .table .summary td {
    padding: 0;
    margin: 0;
}
.table .summary .hiddenSummary{
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
}

html body{
    background-color:#000123;
}
a:visited{
    color: lightgrey;
}

.title{
    font-family: 'Montserrat';
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 450;
    margin:auto;
    width:100%;
    text-align:center;
}

.shelf_list{
    font-size:20px;
}